table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .profile{
    font-size: 100px; 
    text-align: center; 
    margin: auto
  }
  .alert{
    text-align: center;
  }
  .show-leave {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}
.employee-buttons{
  width: 50%;
  margin:auto;
  padding:20px;
}
.emp-applications{
  padding-bottom: 100px;
}